.overlay__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay_box {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: 500px;
  height: 400px;
}

.song-info {
  background-color: rgb(205, 198, 198);
  width: 100px;
  height: 100px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  border-color: transparent;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.overlay__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overlay__close:after {
  display: inline-block;
  content: "\00d7";
}

.overlay__close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

/* adjusting size to be implemented */
@media (max-width: 500px) {
  section {
    padding: 20px 20px;
  }
  .friend-box {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 969px) {
  .friend-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}