.friend-box {
  background-color: #1b1c24;
  border-radius: 10px;
  border-color: transparent;
  width: 260px;
  height: 370px;
  padding: 10px;
  margin: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  overflow: hidden;
}

.friend-box:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.front-song {
  text-align: center;
  width: 225px;
  height: 355px;
  overflow: hidden;
}

.front-song h4 {
  margin: 10px 0 10px 10px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
}

.front-song button.overlay-button {
  height: 225px;
  width: 225px;
  border: none;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.friend-box button.overlay-button img {
  width: 225px;
  height: 225px;
  border-radius: 5px;
  object-fit: cover;
  position: absolute; /* Position the image absolutely within the button */
  top: 0;
  left: 0;
}

.front-song p {
  margin: 0;
  font-size: 0.9em;
  color: #ffffff;
  text-align: left;
  padding-top: 5px;
  padding-left: 2px;
}

.friend-box p strong {
  font-size: 1.1em;
  margin: 0;
}

.friend-box span {
  top: 2px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.reaction-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.reaction {
  background: none;
  border: none;
  content: "\f004";
  color: #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 14px;
  padding: 5px;
}

.reaction p {
  margin: 5px;
}

.reaction p:first-child {
  content: icon;
  margin-bottom: 5px;
}

.reaction p:last-child {
  font-size: 16px;
  font-weight: bold;
}
