.friends-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    140px
  ); /* Create a grid with columns 130px width */
  gap: 20px; /* Add space between grid items */
}

/*for smallest screen with only one column*/
@media screen and (max-width: 600px) {
  .friends-grid {
    grid-template-columns: 1fr; 
  }
}
