@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.results {
    background-color: #13131A;
    color: #eeeeee;
    font-family: 'Poppins';
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.profile {
    width: 100%;
    display: flex;
    background-color: #1B1C24;
    border-radius: 8px;
    border-color: #232430;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    font-weight: bold;
    padding: 1rem;

    button {
        background-color: inherit;
        border-color: #232430;
        border-style: solid;
        border-radius: inherit;
        color: inherit;
        transition: all 50ms ease 50ms;
    }

    .button {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        padding: .2rem .6rem;
    }

    button:hover {
        background-color: #31323A;
        cursor: pointer;
    }
}